@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #f3ebdc;
$font2: 'Ubuntu', sans-serif;


@import "_reset.scss";
@import "_grid.scss";


a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 16px;
	position: relative;
	min-height: 100vh;
}

.wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	overflow: hidden;
	display: flex;

	flex-direction: column;

	min-height: 100vh;
	position: relative;
}


.overlay {
	opacity: 0.65;
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	width: 100%;
	height: 100%;
	display: none;
}


.lcpadding {
	padding-left: calc((100% - 1180px)/2);

	@media only screen and (max-width : 1199px) {
		padding-left: calc((100% - 970px)/2);
	}
	@media only screen and (max-width : 991px) {
		padding-left: calc((100% - 750px)/2);
	}
	@media only screen and (max-width : 767px) {
		padding-left: calc((100% - 600px)/2);
	}
	@media only screen and (max-width : 640px) {
		padding-left: calc((100% - 530px)/2);
	}
	@media only screen and (max-width : 570px) {
		padding-left: 15px;
	}
}



.cpadding {
	padding-left: calc((100% - 1180px)/2);
	padding-right: calc((100% - 1180px)/2);
	@media only screen and (max-width : 1199px) {
		padding-left: calc((100% - 970px)/2);
		padding-right: calc((100% - 970px)/2);
	}
	@media only screen and (max-width : 991px) {
		padding-left: calc((100% - 750px)/2);
		padding-right: calc((100% - 750px)/2);
	}
	@media only screen and (max-width : 767px) {
		padding-left: calc((100% - 600px)/2);
		padding-right: calc((100% - 600px)/2);
	}
	@media only screen and (max-width : 640px) {
		padding-left: calc((100% - 530px)/2);
		padding-right: calc((100% - 530px)/2);
	}
	@media only screen and (max-width : 570px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}


.main {  
	flex-grow: 1;
}

.header {
	position: relative;
	z-index: 21;
}

.contain {
	max-width: 1180px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.teaser-it {
	border-radius: 5px;
	margin-bottom: 20px;
}

.teaser-img-w {
	width: 100%;
	display: block;
	margin-bottom: 0px;
	height: 210px;
	overflow: hidden;	
	border-radius: 5px 5px 0 0;
	position: relative;
}

.teaser-labels {
	position: absolute;
	top: -3px;
	top: 10px;
	display: flex;	
	align-items: flex-start;
	flex-direction: column;
}


.teaser-label {	
	height: 26px;
	display: flex;	
	align-items: center;
	padding-left: 13px;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 700;
	padding-right: 1px;
	margin-bottom: 4px;
	color: #FFF;
	width: auto;
	position: relative;
	&:after {
		background-repeat: no-repeat;
		background-position: right top;
		position: absolute;
		right: -15px;
		top: 0;
		content: "";
		display: block;
		height: 26px;
		width: 15px;
	}
	&:empty {
		display: none;
	}
}
.teaser-label-green {
	background-color: #00c466;
	&:after {		
		background-image: url('../img/label_g.png');
	}
}
.teaser-label-blue {
	background-color: #0078c1;
	&:after {		
		background-image: url('../img/label_b.png');
	}
}
.teaser-label-white {
	background-color: #FFF;
	color: #e24b00;
	&:after {		
		background-image: url('../img/label_w.png');
	}
}
.teaser-label-red {
	font-size: 24px;
	font-weight: 900;
	color: #ffffff;	
	background-color: #e24b00;
	&:after {		
		background-image: url('../img/label_r.png');
	}
}



.teaser-img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.teaser-bot {
	border: 1px solid rgb(221, 221, 221);
	border-radius: 0 0 5px 5px;
	border-top: none;
}

.teaser-info {
	padding: 10px 16px 9px 17px;
	display: flex;
	align-items: center;
	background-color: #FFF;	&:empty {
		padding: 0;
	}
}

.teaser-info-item-first {
	display: inline-flex;
	align-items: center;
	margin-right: 0px;
	margin-left: 0px;
}

.teaser-info-img {
	margin-right: 5px;
}

.teaser-info-black {
	color: rgb(40, 40, 40);
	font-size: 14px;
}

.teaser-info-item {
	display: inline-flex;
	align-items: center;
	margin-right: 0px;
	margin-left: 20px;
}

div[class*="-df"] {
	display: flex;	
	flex-wrap: wrap;
}

div[class*="-jcsb"] {
	display: flex;
	justify-content: space-between;
}

div[class*="-jcfe"] {
	display: flex;	
	justify-content: flex-end;
}

div[class*="-jcc"] {
	display: flex;

	justify-content: center;
}

div[class*="-mt10"] {
	margin-top: 10px;
}

div[class*="-aic"] {
	display: flex;	
	align-items: center;
}

.teaser-info-items {
	margin-left: auto;
	display: flex;
	justify-content: flex-end;
}

.teaser-info-gray {
	font-size: 14px;
	color: #999999;
}

.hearts {
	margin-left: 14px;
	display: flex;
	align-items: center;
}

.heart-gr {
}

.teaser-info-2 {
	padding: 15px 16px 11px 17px;
	background-color: rgb(238, 238, 238);
	display: flex;
	justify-content: space-between;

	flex-wrap: wrap;
}

.teaser-info-l {
	width: 50%;
}

.teaser-info-cap {
	font-size: 14px;
	color: rgb(153, 153, 153);
	margin-bottom: 3px;
}

.teaser-info-name {
	font-size: 18px;
	color: #282828;
	display: block;
}

.teaser-info-r {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.teaser-info-old-price {
	font-size: 14px;
	color: rgb(153, 153, 153);
	margin-bottom: 5px;
	text-decoration: line-through;
}

.teaser-info-price {
	font-size: 18px;
	color: rgb(40, 40, 40);
	font-weight: 700;
}

.heart-label {
	cursor: pointer;
	input[type="checkbox"] {
		display: none;
		+ span {
			display: block;
			width: 19px;
			height: 16px;
			background: url("../img/heart_gray.png") $nr center;

			background-size: 19px;
		}
		&:checked {
			+ span {
				background-image: url("../img/heart_red.png");
			}
		}
	}
}




.pagin-row {
	height: 60px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(221, 221, 221);
	border-radius: 5px;
	padding: 15px 38px 15px 30px;
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

.pagin-row-1 {
	padding: 15px 29px 15px 34px;
}

.pagin-l {
	display: inline-flex;
	align-items: center;
	height: 100%;
}

.pagin-li-arrow {
	a {    
		display: block;
		width: 100%;
		height: 100%;
		background: url("../img/arr-r-pagin.png") $nr center;
		&:hover {
			background-color: #eeeeee;
		}
	}  

}

.pagin-li-prev {
	margin-left: 0px;
	margin-right: 0px;
	width: 30px;
	height: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 1px solid rgb(221, 221, 221);

	a {
		transform: rotate(180deg)
	}
}



.pagin-ul {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid rgb(221, 221, 221);
	height: 100%;
	border-right: none;
	border-left: none;
	li {
		margin-left: 13px;
		margin-right: 13px;
	}
	a {
		font-weight: 300;
		letter-spacing: 0.025em;
		color: #373737;
		font-size: 12px;
		&:hover {
			color: rgb(133, 173, 62);

			font-weight: 700;
			text-decoration: none;
		}
		&.active {
			color: rgb(133, 173, 62);
			font-size: 12px;
			font-weight: 700;
		}
	}
}



.pagin-li-next {
	margin-left: 0px;
	margin-right: 0px;
	width: 30px;
	height: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 1px solid rgb(221, 221, 221);
}

.pagin-r {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.pagin-cap {
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0.025em;
	color: #999999;
	margin-right: 5px;
}

.pagin-count {
	display: flex;
	align-items: center;
	li {
		+ li {
			margin-left: 24px;
		}
	}

	a {
		color: rgb(55, 55, 55);
		font-size: 12px;
	}
}









.top {
	height: auto;
	padding-top: 16px;
	padding-bottom: 15px;
	background-color: #FFF;
}


.top-w {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: inline-flex;
	width: 160px;

	align-items: center;
	margin-right: 13px;
	img {
		max-width: 100%;
	}
}

.top-calc {
	height: 55px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(52, 59, 75);
	display: inline-flex;
	border-radius: 5px;
	&:hover {
		text-decoration: none;

	}
}

.top-calc-l {
	width: 50%;
	padding-left: 18px;
	padding-right: 18px;
	flex: 1 1 auto;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.top-calc-txt-1 {
	display: block;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.025em;
	color: rgb(40, 40, 40);
}

.top-calc-txt-2 {
	display: block;
	text-transform: none;
	letter-spacing: -0.005em;
	font-size: 18px;
	color: #282828;
}

.top-calc-r {
	width: 55px;
	height: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(221, 221, 221);
	flex: 0 0 auto;
	border-radius: 5px;	
	transition: 0.5s;
	&:hover {
		background-color: #CFCFCF;
	}
}

.top-col-2 {
}

.top-conts-b {
	display: flex;
	align-items: center;
	height: 55px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(133, 173, 62);
	border-radius: 5px;
}

.top-conts-txts {
	margin-left: 0px;
	padding-right: 10px;
	padding-left: 13px;
}

.top-conts-txt-2 {
	color: rgb(40, 40, 40);
	font-size: 18px;
	margin-bottom: 3px;
	display: block;
	&:hover {
		text-decoration: none;
	}
}

.top-conts-txt-1 {
	font-size: 12px;
	letter-spacing: 0.01em;
	color: #9a9a9a;
}

.mob-cont-img-w {
	flex: 0 0 auto;
	height: 100%;
	padding-left: 17px;
	padding-right: 17px;
	background-color: rgb(133, 173, 62);
	border-radius: 5px;
	overflow: hidden;
	display: inline-flex;
	align-items: center;
	justify-content: center;	
	transition: 0.5s;
	&:hover {
		background-color: #9FC954;
	}
}

.top-col-4 {
}

button {
	border: none;
	outline: none;
}

.btn {
	height: 55px;
	background-color: rgb(133, 173, 62);
	box-shadow: rgba(133, 173, 62, 0.3) 0px 1px 32px 0px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding-left: 33px;
	padding-right: 33px;
	font-size: 14px;	
	font-weight: 700;
	color: rgb(255, 255, 255);
	border-radius: 5px;	
	transition: 0.5s;
	line-height: 1.1;
	&:hover {
		text-decoration: none;
		background-color: #9FC954;
	}
}

.w229 {
	max-width: 229px;
	width: 100%;
	padding: 0 5px;
}

.btn-o {
	height: 55px;	
	background-color: #dddddd;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding-left: 33px;
	padding-right: 33px;
	font-size: 14px;	
	color: #4b4f61;
	font-weight: 700;	
	border-radius: 5px;	
	transition: 0.5s;
	line-height: 1.1;
	&:hover {
		text-decoration: none;
		background-color: #CFCFCF;
	}
	i {
		background: url("../img/arrow_top.png")  right 0px center;
		display: inline-block;
		width: 9px;
		height: 5px;
		background-size: 9px;
		margin-left: 33px;
	}
}

.top-action {
	width: 55px;
	height: 55px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(221, 221, 221);
	border-radius: 5px;

	flex: 0 0 auto;
	+ .top-action {
		margin-left: 10px;
	}	
	transition: 0.5s;
	&:hover {
		background-color: #CFCFCF;	
	}
}

.top-actions {
	display: flex;
	align-items: center;
}

.top-mnu-row {
	min-height: 50px;
	background-color: rgb(52, 59, 75);
	display: flex;
	align-items: center;
}

.top-mnu-w {
	display: flex;
	align-items: center;
}

.col-mnu {
}

.hidden-mnu {
}


.top-mnu {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	> li {
		margin-right: 0px;
		padding-right: 6px;
		margin-right: 0;
		&.parent {      
		}
		>  a {
			font-size: 18px;

			text-transform: uppercase;
			color: rgb(255, 255, 255);
			display: inline-flex;
			height: 50px;
			align-items: center;
			justify-content: center;
			padding: 0 30px;
			&:hover {
				text-decoration: none;
				background-color: #202530;
			}

		}
		&.act {
			> a {
				background-color: #202530;

			}
		}
	}
}

.a-after {
	display: block;
	content: "";
	background-image: url("../img/arr-mnu-b.png");
	background-repeat: no-repeat;
	background-position: left top;
	display: inline-flex;
	width: 9px;
	height: 5px;
	margin-left: 10px;
	flex: none;
}

.top-open {
	background-color: rgb(221, 221, 221);
	box-shadow: rgba(0, 0, 2, 0.75) 1px 2px 10px 0px;

	padding: 37px 16px 37px 34px;
	max-width: 880px;
	position: absolute;
	width: 100%;
	display: none;
}

.top-open-row {
	width: 100%;

}

.top-open-col {  
}

.top-open-item {
}

.top-open-tit {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: rgb(153, 153, 153);
	margin-bottom: 18px;
}

.top-open-mnu {
	li {
		margin-bottom: 17px;
	}

	a {
		text-transform: none;
		color: rgb(40, 40, 40);
		font-size: 18px;
	}
}

.rot180 {
	transform: rotate(180deg);
}

@media (max-width : 1199px) {
	.top-mnu-row {    
		position: relative;
		.contain {
			max-width: 100%;
		}
	}  
	
	.col-mnu {
		width: 100%;
	}

	.top-mnu-w {

	}

	.top-mnu {
		display: none;

		left: 0;
		top: 50px;
		z-index: 21;
		background-color: #FFF;

		width: 100%;

		min-height: 100px;
		padding-top: 30px;
		padding-bottom: 30px;

		/**/
		position: static;
		margin-top: 0px;
		li {
			margin-bottom: 24px;
			a {
				font-size: 20px;
				color: #000;
				height: auto;
				padding: 0;
				&:hover {
					background: none;
				}
			}
			&.act {
				a {
					background: none;
				}
			}
			&.parent {
				a {

				}
			} 
		}

		.a-after {
			height: 20px;
			width: 20px;
			background-image: url("../img/arr-mnu-black.png");
			background-position: center;
		}  

	}
	.top-open {
		position: static;

		box-shadow: none;
		padding: 20px 20px 20px 20px;
		margin-top: 14px;
	}
	.top-open-row {
		display: block;
		.top-open-col {
			width: 100%;
		}
	}
	.top-open-item {
		margin-bottom: 25px;
	}
	.top-open-mnu li {
		margin-bottom: 10px;
		a {
			font-size: 17px;
		}
	}
	.hidden-mnu {
		display: block;

		position: relative;
		z-index: 11;

		height: 50px;

	}


	.toggle-mnu:focus {
		outline: none;
	}
	.toggle-mnu span {
		position: relative;
		display: block;

		transition: all 0.3s;

		backface-visibility: hidden;
		width: 26px;
		height: 3px;

		background: #fff;

	}
	.toggle-mnu span {
		&:after, &:before {
			content: "";
			position: absolute;
			left: 0;
			top: -4px;
			width: 26px;
			height: 3px;

			background: #fff;
			transition: all 0.3s;

			backface-visibility: hidden;

			border-radius: 1px;
		}
	}
	.toggle-mnu {
		display: block;

		text-align: center;

		display: block;
		width: 26px;
		height: 20px;
		margin: 0;

		margin-top: 0;
		transition: 0.5s;
		transform: translate(0px, 15px);
		&.on {
			transform: translate(0px, 10px);
		}
	}
	.toggle-mnu span:after {
		top: 7px;
	}
	.toggle-mnu span:before {
		top: 15px;
	}

	.toggle-mnu {      
		span {

		}
	}


	.toggle-mnu.on span {
		background: transparent;
	}
	
	.toggle-mnu.on span:before {
		transform: rotate(45deg) translate(0px, 0px);
		top: 13px;
	}
	
	.toggle-mnu.on span:after    {
		transform: rotate(-45deg) translate(0px, 0px);
		top: 13px;
	}
	.toggle-mnu.on + #menu {
		opacity: 1;
		visibility: visible;
	}
}

@media (min-width : 1200px) {
	.top-mnu {
		li.parent {      
			&:hover {
				.top-open {
					display: block;
				}      
			}
		}
	}
	.top-mnu {
		display: flex;
	} 

	.hidden-mnu {
		display: none;
	}
}







@media only screen and (max-width : 1199px) {
	.top-calc-l,
	.top-conts-txts {
		display: none;
	}
	.logo {
		width: 122px;
		margin-right: auto;
	}
	.top-w {   
		justify-content: flex-end;

	}
	.top-actions,
	.top-col-4,
	.top-col-2 {
		margin-left: 10px;
	}
}

@media only screen and (max-width : 767px) {
	.top-actions {
		display: none;

	}
}

@media only screen and (max-width : 570px) {
	.btn {
		height: 40px;
		padding: 0 15px;

	}
	.top-calc-r,
	.mob-cont-img-w {
		width: 100%;
		padding: 0;
	}
	.top-conts-b,
	.top-calc {
		height: 40px;
		width: 40px;
		img {
			max-width: 100%;
		}
	}
}

@media only screen and (max-width : 480px) {
	.top-w {    
		flex-wrap: wrap;

		justify-content: flex-start;
	}
	.logo {

		img {

		}
	}
	.top-col-4 {
		width: 100%;
		margin-top: 20px;
		margin-left: 0;
		.btn {
			width: 100%;
		}
	}
}




.slick-arrow {
	position: absolute;
	z-index: 12;

	border: none;
	background: none;
	font-size: 0;
	width: 50px;
	height: 50px;
	opacity: 0.8;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(221, 221, 221);
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("../img/arr_r_sl.png");
	background-repeat: no-repeat;
	background-position: center;
	top: 326px;
	@media (max-width : 1600px) {
		top: calc(50% - 10px);
	}
	li {
		button {
			padding: 0;

			border: none;
		}
	}
}

.slick-prev {
	left: 20px;	
}
.slick-next {
	right: 20px;	
	transform: rotate(180deg);
}



.sl-it {	
	width: 100%;
	position: relative;	
	display: flex;	
	align-items: center;
	img {
		max-width: 100%;
		width: 100%;
		height: auto;
	}
}

.sl-pos {
	position: absolute;
	top: 186px;	
	width: 100%;
	z-index: 10;
	@media (max-width : 1600px) {
		top: 50%;
		transform: translate(0, -50%);
	}
}

.sl-w {
}

.sl-l {
	width: 400px;
	display: flex;

	flex-direction: column;

	align-items: center;
}

.sl-txt-0 {
	font-size: 54px;
	line-height: 1.2;
	font-weight: 100;
	text-transform: uppercase;
	color: #343b4b;	
	margin-bottom: 0px;
}
.sl-txt-1 {
	font-size: 44.5px;
	font-weight: 700;
	text-transform: uppercase;
	color: rgb(133, 173, 62);
	margin-bottom: 32px;
	width: 100%;
	text-align: center;
}

.sl-txt-2 {
	font-size: 24px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: rgb(52, 59, 75);
	text-align: center;
	margin-bottom: 35px;
}


.sl-arr {
	width: 50px;
	height: 50px;
	opacity: 0.8;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(221, 221, 221);
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("../img/arr_r_sl.png");
	background-repeat: no-repeat;
	background-position: center;
}




.advantages {
	background-color: rgba(138, 190, 92,0.1);
	padding-top: 78px;
	padding-bottom: 74px;
	margin-top: -3px;
}

.contain {
}

.advantages-w {
	display: flex;

}

.advantages-it {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.advantages-img-w {
	margin-bottom: 19px;
	height: 78px;
	display: flex;	
	align-items: center;	
	img {
		max-height: 100%;
		width: auto;
	}
}

.advantages-txt {
	font-size: 18px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: rgb(75, 79, 97);
	text-align: center;
}

@media (max-width : 1199px) {
	.advantages-txt {
		font-size: 15px;
	}
	.advantages-img-w {
		height: 48px;
		margin-bottom: 15px;
	}
	.advantages {
		padding: 50px 0;
	}
}


@media only screen and (max-width : 991px) {
	.advantages {
		padding: 40px 0;
	}
	.advantages-w {
		.advantages-col {
			width: 33.333%;
		}
	}
	.advantages-it {
		margin: 15px 0;
	}
}

@media only screen and (max-width : 570px) {
	.advantages-txt {
		font-size: 13px;
	}
}

@media only screen and (max-width : 480px) {
	.advantages-w .advantages-col {
		width: 50%;
	}
}




.section {
	margin-top: 71px;
}

.catalog {
	
}

.catalog-w {
}

.catalog-it-w {
	display: flex;
	justify-content: space-between;
}

.catalog-it {	
	background-repeat: no-repeat;
	background-position: left top;
	width: calc(33% - 13.3px);
	padding: 47px 26px 43px;	
	background-size: cover;	        
	border-radius: 5px;
	overflow: hidden;	                
}

.catalog-it-1 {
	background-image: url("../img/cat_1.jpg");
}

.catalog-it-2 {
	background-image: url("../img/cat_2.jpg");
}

.catalog-it-3 {
	background-image: url("../img/cat_3.jpg");
}

.catalog-desc {
	max-width: 165px;
	width: 100%;
}

.desc-txt-1 {
	font-size: 24px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: rgb(40, 40, 40);
	width: 100%;
	margin-bottom: 20px;
	span {
		white-space: nowrap;
	}
}

.desc-txt-2 {
	font-size: 18px;
	font-weight: 700;
	color: rgb(133, 173, 62);
	margin-bottom: 27px;
}

.catalog-btn {
	padding: 0 23px;
	height: 50px;
}


h2 {
	font-size: 36px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #4b4f61;
	margin-bottom: 40px;
	&.lower {
		text-transform: none;
	}
}



.center {
	text-align: center;
}

.filter {
	margin-top: 20px;
	background-color: #ededef;
	border: 1px solid #dddddd;
	border-radius: 5px;	
}
.filter-rows { 
	
	&.fhide {

	} 
}

.left-filter-close {
	display: block;
	position: absolute;
	right: 15px;
	top: 15px;
	width: 15px;
	height: 15px;
	background: transparent url("../img/close.svg") 0 0;	
	background-size: cover;
}

.filter-row {
	display: flex;

	flex-wrap: wrap;
	width: 100%;
	padding: 29px 20px 32px 30px;

	&:first-child {
		border-bottom: 1px solid #fff;
	}  
}

.filter-row-2 {	
	padding: 31px 20px 18px 30px;
}

.filter-col {}
.filter-col-1 {
	width: 233px;
	padding-right: 10px;
	flex: none;
}
.filter-item {
	&:not(:last-child) {
		margin-bottom: 60px;
	}
}
.filter-item-mb {
	&:not(:last-child) {
		margin-bottom: 46px;
	}	
}
.filter-tit {
	font-size: 14px;
	font-weight: 700;
	color: #282828;
	margin-bottom: 4px;
	line-height: 1.4;
	width: 100%;
	span {
		font-weight: 400;
	}
}
.filter-label {}
.filter-check {}
.filter-check-span {}
.filter-label-txt {}
.filter-col-2 {  
	flex-grow: 1;
}
.filter-col-3 {
	flex: none;
	width: 280px;
}
.filter-col-4 {
	width: 356px;
	flex: none;
	margin-left: 64px;
}


.filter-label {
	cursor: pointer;
	display: flex;

	align-items: center;
	input[type="checkbox"], input[type="radio"] {
		display: none;
		+ span {
			display: block;
			width: 18px;
			height: 18px;
			background-color: #ffffff;
			border: 1px solid #dddddd;
			flex: none;
			margin-right: 6px;
		}
		&:checked {
			+ span {
				background-image: url("../img/checked.png");
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
	&:not(:last-child) {
		margin-bottom: 7px;
	}
}

.filter-label-txt {
	font-size: 12px;
	font-weight: 400;
	color: #282828;
}


.filter-2-label {
	cursor: pointer;
	display: flex;

	align-items: center;
	margin-bottom: 10px;
	&:hover {
		input[type="checkbox"] + span, input[type="radio"] + span {
			background-color: #85ad3e;
			border: 1px solid #dddddd;
			color: #FFF;
		}	
	}
	input[type="checkbox"], input[type="radio"] {
		display: none;
		+ span {
			width: 50px;
			height: 50px;
			background-color: #ffffff;
			border: 1px solid #dddddd;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 14px;
			font-weight: 400;
			color: #282828;

			border-radius: 5px;
			flex: none;
			transition: 0.5s;
		}
		&:checked {
			+ span {
				background-color: #85ad3e;
				border: 1px solid #dddddd;
				color: #FFF;
			}
		}
	}  
	&:not(:last-child) {
		margin-right: 10px;
	}
}

.filter-2-labels {
	display: flex;

	flex-wrap: wrap;

}

.mt10 {
	margin-top: 10px;
}

.filter-buttons {
	display: flex;	
	justify-content: center;
	transform: translate(0, 50%);
	position: relative;
}
.filter-btn-hide,
.filter-btn {
	height: 60px;
	max-width: 229px;
	width: 100%;
	margin: 0 10px;
}

input[type="text"].input {
	width: 100%;
	height: 50px;
	background-color: #ffffff;
	border: 1px solid #dddddd;	
	font-size: 14px;
	font-weight: 400;
	color: #282828;
	padding: 9px;
}



input[type="text"].input-2 {
	padding: 9px;
	width: 100%;
	height: 44px;
	background-color: #ffffff;	
	font-size: 14px;
	font-weight: 400;
	color: #282828;
	border: none;
	outline: none;
}

.form__line {
	
}
.price {}
.price__range {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin-bottom: 0;
}
.price__inputs {
	position: relative;
	background-color: #FFF;
	display: flex;	
	justify-content: space-between;
	border: 1px solid #dddddd;
	height: 50px;
	border-radius: 3px;
	> input[type="text"] {
		width: calc(50% - 10px);
	}
}


.noUi-base {
	height: 6px;
	background-color: #dddddd;
}

.noUi-target {
	margin: 0;
}

.noUi-target::before, .noUi-target::after {
	width: 0;
}

.noUi-connect {
	background-color: #8abe5c;
}

.noUi-handle::after {
	width: 11px;
	height: 11px;
	background-color: #8abe5c;
	left: 5px;
	top: 5px;
}

.noUi-handle {
	width: 26px;
	height: 26px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	top: -8px;
}

.price__captions {
	display: flex;	
	justify-content: space-between;
	margin-top: 9px;
}
.price__caption {
	font-size: 12px;
	font-weight: 400;
	color: #999999;
	padding: 0 10px;
}


.popular {
	margin-top: 102px;
}

.teasers-row {
	.teasers-col {
		
	}
}

.popular-btn-w {
	display: flex;	
	justify-content: center;
	margin-top: 12px;
}




.ind {
	background-image: url("../img/ind.jpg");
	background-repeat: no-repeat;
	background-position: center top;

	height: 512px;

	background-size: cover;	
	display: flex;		
	@media (max-width : 1600px) {
		align-items: center;
	}
}

.contain {
}

.ind-w {
	width: 100%;
	max-width: 466px;
	padding-top: 83px;
	@media (max-width : 1600px) {
		padding-top: 0;
	}
}

.ind-txt-1 {
	font-size: 48px;
	line-height: 1.3;
	font-weight: 700;
	text-transform: uppercase;
	color: rgb(75, 79, 97);
	width: 100%;
	margin-bottom: 17px;
}

.ind-btn,
.rev-btn
.info-btn-2,
.built-btn {
	height: 60px;
}

.ind-txt-2 {
	font-size: 24px;
	line-height: 1.2;
	font-weight: 500;	
	text-transform: uppercase;
	color: rgb(153, 153, 153);
	margin-bottom: 35px;
}

.built {
	margin-top: 75px;
	.slick-arrow {
		top: 130px;
		z-index: 21;
	}
	.slick-prev {
		left: -10px;
	}
	.slick-next {
		right: -10px;
	}
}
.built-row {
	margin: 0 -10px;
}
.built-col {
	padding: 0 10px;
}

.built-btn-w {
	margin-top: 37px;
	display: flex;	
	justify-content: center;
}



.teaser-info-adr {
	font-size: 12px;
	line-height: 1.2;
	font-weight: 400;
	color: #282828;
}


.info {
}

.info-w {
	display: flex;
}

.info-col-1-w {
	width: 280px;
	flex: none;
	padding-top: 9px;
}

.info-col-it {
	background-color: rgb(237, 237, 239);
	padding: 33px 10px 27px;
	width: 100%;	
	border-radius: 5px;
	&:not(:last-child) {
		margin-bottom: 19px;
	}
}

.info-col-it-3 {
	padding-top: 12px;
}

.info-col-1-it-w {
}

.info-col-h-w-1 {	
	margin-bottom: 21px;
}

.info-col-h {
	font-size: 18px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: rgb(40, 40, 40);
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
}

.info-col-h-rev {
	margin-top: -13px;
	margin-bottom: 15px;
}

.info-col-h-1 {
	display: block;
}

.info-col-1-cont {

}

.info-col-1-img-w {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 8px;		
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	img {
		max-width: 100%;
		width: 100%;
	}
}

.info-col-1-img-a {
	width: 31px;
	height: 31px;
	background-image: url("../img/video.png");
	background-repeat: no-repeat;
	background-position: left top;
	display: flex;
	position: absolute;
}

.info-col-1-txt-1 {
	font-size: 14px;
	line-height: 1.2;
	color: rgb(40, 40, 40);
	text-align: center;
	margin-top: 21px;
}

.info-col-1-it-txt-w {
	margin-top: 18px;
	padding: 0 5px;
	margin-bottom: 14px;
}

.info-col-txt-row {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 3px;
}

.info-col-1-txt-2 {
	font-size: 12px;
	color: rgb(40, 40, 40);
	margin-right: 10px;
}

.info-col-1-txt-3 {
	font-weight: 700;
	font-size: 12px;
	color: rgb(40, 40, 40);
}

.info-col-1-txt-4 {
	font-size: 12px;
	color: rgb(40, 40, 40);
	line-height: 1.3;
}

.info-col-1-it-a {
	font-size: 14px;
	font-weight: 700;
	text-decoration: underline;
	color: rgb(133, 173, 62);
	display: block;
	text-align: center;
}

.info-col-h-w-2 {
	margin-top: 8px;
	margin-bottom: 12px;
}

.info-col-2 {
	margin-left: 20px;
	flex-grow: 1;
	display: flex;	
	flex-direction: column;
}

.infobtn-jcc {	
	margin-top: 45px;
	
}



.info-btn {
	font-size: 18px;
	height: 60px;
}

.info-col-2-w {
	display: flex;		        
	flex-direction: column;	                
	flex-grow: 1;
}

.info-col-2-p-w {
	margin-bottom: 47px;
	padding-top: 44px;	
	flex-grow: 1;
	p {
		margin-bottom: 20px;
		font-size: 18px;
		line-height: 1.2;
		color: rgb(40, 40, 40);
	}
}



.info-col-2-cons {
	margin-top: auto;
	background-image: url("../img/cons.jpg");
	background-repeat: no-repeat;
	background-position: bottom center;
	padding-top: 449px;
	padding-bottom: 52px;	
	background-size: cover;	
	border-radius: 5px;
}

.info-col-2-cons-txt {
	text-align: center;
	font-size: 24px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: rgb(75, 79, 97);
	margin-bottom: 19px;
}

.info-btn-w {
	display: flex;	
	justify-content: center;
}

.step {
	background-color: rgba(138, 190, 92, 0.1);	
	padding-top: 58px;
	padding-bottom: 52px;
}




.step-w {
}

.step-h {
	margin-bottom: 95px;
}

.step-h-txt-1 {
	font-size: 100px;
	text-transform: uppercase;
	color: rgb(75, 79, 97);
	text-align: center;
	margin-bottom: 15px;
}

.step-h-txt-2 {
	text-transform: uppercase;
	color: rgb(75, 79, 97);
	font-size: 36px;
	text-align: center;
}

.step-row {
	display: flex;
	justify-content: space-between;
}

.step-it {
	background-color: rgb(133, 173, 62);
	border-radius: 5px;
	padding-top: 36px;
	width: calc(20% - 6px);
	position: relative;
	display: flex;	
	align-items: center;
	flex-direction: column;
	padding-bottom: 23px;
	position: relative;
	&:before {
		position: absolute;
		content: "";
		display: block;
		background: url("../img/arrow_tobot.png") 0 0;
		width: 70px;
		height: 63px;
		right: -40px;
		top: -30px;
		z-index: 3;
	}
	&:nth-child(2n) {
		&:before {
			top: auto;
			bottom: -30px;
			transform: rotate(-180deg) scaleX(-1);
		}
	}	
	&:last-child {
		&:before {
			display: none;
		}
	}	
}

.step-it-img-w {
	display: flex;
	justify-content: center;
	margin-bottom: 16px;
	position: relative;
	z-index: 2;
	height: 72px;
	display: flex;
	flex-direction: column;

	justify-content: flex-end;
	img {
		max-height: 100%;
		width: auto;
	}
	
}

.step-it-txt {
	text-align: center;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	position: relative;
	z-index: 2;
	padding: 0 20px;	
	a {
		text-decoration: underline;

		color: #FFF;
	}
}



.step-it-num {
	opacity: 0.5;
	font-size: 184.6px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;

	color: #a4cb60;
	position: absolute;
	top: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}


















.rev {
	margin-top: 80px;
	background-color: rgb(238, 238, 238);
	padding-top: 76px;
	padding-bottom: 91px;
}



.rev-w {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.rev-it {
	width: calc(25% - 15px);
}

.rev-it-txt-a {
	display: block;
	background-color: rgb(255, 255, 255);
	padding: 28px 33px 33px 24px;
	width: 100%;
	margin-bottom: 32px;	
	min-height: 251px;
	position: relative;

	border-radius: 5px;
	&:before {
		content: "";
		display: block;
		position: absolute;
		bottom: -16px;
		left: 48px;
		width: 32px;
		height: 16px;
		background: url("../img/corner.png")  0 0;
	}  
}

.rev-it-txt {
	font-size: 16px;
	line-height: 1.5;
	color: rgb(43, 53, 37);
}

.rev-it-name {
	display: flex;
	align-items: center;
}

.rev-it-name-img-w {
	width: 80px;
	height: 80px;
	margin-right: 17px;
	flex: none;
}

.rev-it-name-img {
	width: 100%;
	height: 100%;
}

.rev-it-name-inf {
}

.rev-it-name-inf-txt-1 {
	font-size: 14px;
	color: rgb(153, 153, 153);
	margin-bottom: 6px;
}

.rev-it-name-inf-txt-2 {
	line-height: 1.5;

	font-size: 14px;
	color: #282828;
	&:hover {
		text-decoration: none;
	}
	span {
		display: block;
		font-size: 18px;
	}
}



.const {	
	padding-bottom: 80px;
	margin-top: 78px;
}



.const-w {
}

.const-txt-1 {
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: rgb(40, 40, 40);
	margin-bottom: 29px;
}

.const-p-w {
	p {
		font-size: 16px;
		text-transform: none;
		line-height: 1.2;
		color: rgb(40, 40, 40);
		margin-bottom: 18px;
	}
}



.steps {
	background-color: rgba(138, 190, 92, 0.1);
	padding-top: 73px;
	padding-bottom: 86px;
	margin-top: 80px;
}


.steps2 {
	margin-top: 10px;
}


.step-w {
}

.step-top {
	margin-bottom: 32px;
}

.step-top-txt-1 {	
	margin-bottom: 10px;
	text-align: center;
}

.step-top-txt-2 {
	font-size: 14px;
	color: rgb(133, 173, 62);
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
}

.step-form-w {
}

.step-form-row {
	display: flex;
	margin-bottom: 16px;

	justify-content: center;
	align-items: flex-end;
}

.step-form-label {
	width: 280px;
	margin-right: 20px;
}

.step-form-label-txt {
	display: block;
	font-size: 12px;
	color: rgb(40, 40, 40);
	margin-bottom: 4px;
	padding: 0 9px;
}

input[type="text"].step-form-input {

}


.step-form-btn {
	height: 50px;
}

.step-label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	input[type="checkbox"] {
		display: none;
		+ span {
			width: 18px;
			height: 18px;
			background-color: rgb(255, 255, 255);
			border: 1px solid rgb(221, 221, 221);

			margin-right: 5px;
			flex: none;
			-webkit-border-radius: 3px;
			border-radius: 3px;
		}
		&:checked {
			+ span {
				background-image: url("../img/check-green.png");
				background-position: center;
				background-repeat: no-repeat;
			}
		}
	}	
}


.step-label-span-txt {
	font-size: 11px;
	letter-spacing: 0.025em;
	color: rgb(153, 153, 153);
	a {
		color: rgb(153, 153, 153);
		text-decoration: underline;
	}
}















.foot-top-logo {
	max-width: 173px;
	> img {
		max-width: 100%;
		width: 100%;
		height: auto;
	}
} 

.foot-soc > img {
}

.footer {
	background-color: rgb(75, 79, 97);
	padding-top: 64px;
	padding-bottom: 41px;
}


.foot-top {
	display: flex;
}

.foot-top-col-1 {
	width: 250px;
	margin-right: 39px;
}

.foot-top-logo {
	display: flex;
	margin-top: -17px;
	@media (max-width : 1600px) {
		margin-top: 0;
	}
}

.foot-top-col-1-txt-w {
	margin-top: 24px;
	font-size: 14px;
	color: rgb(153, 153, 153);
}

.foot-top-col-1-inf-txt-1 {
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 17px;
}

.foot-top-col-1-inf-txt-2 {
}

.foot-top-col-1-inf-a {
	color: rgb(153, 153, 153);
	text-decoration: underline;
	text-transform: none;
	margin-left: 0px;
}

.foot-top-col-2 {
	width: 620px;
	margin-right: 42px;
}

.foot-top-prod-w {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 20px;
}

.foot-top-ul-prod {
	li {
		margin-bottom: 16px;
	}

	a {
		font-size: 14px;
		color: rgb(255, 255, 255);
		display: block;
	}
}





.w-foot-top-mn-ul {
	li {
		margin-bottom: 13px;
	}

	a {
		font-size: 14px;
		color: rgb(255, 255, 255);
		text-transform: uppercase;
	}
}



.foot-soc-row {
	display: flex;
	align-items: center;	
	justify-content: flex-start;
	padding-left: 245px;
	@media (max-width : 1600px) {
		justify-content: center;
		padding-left: 0;
	}
}

.foot-soc {
	width: 26px;
	height: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 5px;
}

.foot-top-col-3 {
	width: 301px;
}

.foot-top-col-2-mail {
	display: flex;
	font-size: 18px;
	color: rgb(255, 255, 255);
	align-items: center;
	justify-content: flex-end;
	margin-right: 16px;
}

.foot-top-col-2-mail-span {
	width: 25px;
	height: 24px;
	display: block;
	background-image: url("../img/mail.png");
	background-repeat: no-repeat;
	background-position: left top;
	margin-left: 15px;
}

.foot-d-txt {
	font-size: 14px;
	color: rgb(153, 153, 153);
	text-align: center;
	margin-top: 20px;
}



.foot-conts-b {
	margin-bottom: 21px;
	height: 60px;
	margin-top: -5px;
	.top-conts-txts {		
		flex-grow: 1;
		text-align: right;
		padding-right: 32px;
	}
	.top-conts-txt-2 {}
	.top-conts-txt-1 {}
	.mob-cont-img-w {
		width: 60px;
	}	

}


.info-col-2-cons-2 {
	background-image: url("../img/cons2.jpg");
	background-repeat: no-repeat;
	background-position: top center;	
	background-size: cover;
	height: 500px;	
	padding-top: 75px;
	margin-bottom: -80px;
	margin-top: 80px;
	@media (max-width : 1199px) {
		margin-bottom: -60px;
		margin-top: 60px;
	}
	@media (max-width : 991px) {
		margin-bottom: -40px;
		margin-top: 40px;
	}
}

.info-col-2-cons-txt-2 {
	text-align: left;
	max-width: 591px;
	line-height: 1.7;
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 700;
}	

.info-btn-w-2 {
	margin-top: 33px;
	.btn {
		height: 60px;
	}
}

.info-col-2-left {
	
}

.bread {
	margin-top: 14px;
	padding-left: 63px;
	@media (max-width : 1600px) {
		padding-left: 0;
	}
}

.bread-ul {
	display: flex;
	font-family: 'Lato', sans-serif;	
	li {
		margin-right: 7px;
		&:after {
			content: "/";
			font-size: 12px;			
			font-weight: 400;
			font-style: italic;
			color: #999999;	
			margin-left: 7px;
		}		
		&:last-child {
			margin-right: 0;
			&:after {
				display: none;
			}
		}

		a {
			font-size: 12px;			
			font-weight: 400;
			font-style: italic;
			color: #999999;	
		}
		span {
			text-decoration: underline;
			color: #282828;
			font-size: 12px;
			font-weight: 400;
			font-style: italic;
		}
	}
}

.catalog-page {
	margin-top: 55px;
	margin-bottom: -5px;
	@media (max-width : 1600px) {
		margin-bottom: 0;
	}
}

.catalog-row {
	display: flex;
	margin-top: 20px;
}
.catalog-col-l {
	width: 280px;
	flex: none;
	margin-right: 20px;
	order: -1;
}
.catalog-col-r {	
	flex-grow: 1;
}

.left-filter {
	margin-top: 0;
}

.filter-row-h {
	padding: 27px 20px 30px 20px;
	border-bottom: 1px solid #fff;
}

.filter-item-2 {
	display: flex;	
	flex-wrap: wrap;	
	justify-content: space-between;
	.filter-label {		
		&:nth-child(odd) {
			width: 52%;
		}
		&:nth-child(even) {
			width: 48%;
		}
	}
}

.filter-item-bathrooms {
	margin-bottom: 0;
	.filter-2-label {
		margin-bottom: 0;
	}
}

.filter-2-labels-2 {
	.filter-2-label {
		&:nth-child(4n) {
			margin-right: 0;
		}		
	}
}

.filter-label-more {
	cursor: pointer;
	display: flex;
	width: 50px;
	height: 50px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 5px;

	font-weight: 400;
	color: #999999;	
	align-items: center;
	justify-content: center;
	& ~ .filter-2-label {
		display: none;
	}
}

.pagin-total {
	font-size: 12px;
	color: #999;
}

.pagin-sort {
	display: flex;
	margin-left: 0;
	li {
		+ li {
			margin-left: 30px;
		}
	}
	a {
		color: #373737;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 12px;
		&.active {
			color: #85ad3e;
			text-decoration: underline;	
		}
	}	
}

.sort-items {
	margin-top: 20px;
}

.sort-more-btn-w {	
}

.sort-more-btn-w-jcc {
	margin-bottom: 22px;
}

.price-sort {
	display: inline-flex;	
	align-items: center;
	i {
		margin-left: 4px;
		background: url("../img/price-sort.png") $nr right center;
		width: 9px;
		height: 5px;
		display: block;		
		&.rot {
			transform: rotate(-180deg) scaleX(-1);
		}
	}	
}



.filter-open-span {
	border-radius: 50%;
	width: 16px;
	height: 16px;
	display: flex;
	align-items: center;
	border: 2px solid #dddddd;
	margin-left: 10px;
	flex: none;

}

.filter-open-span:before {
	content: "";
	display: block;
	width: 28px;
	height: 2px;
	background-color: #DDD;
	transform: translate(100%, 0);
}

.filter-open {
	display: flex;
	font-weight: 600;
	color: #313130;
	font-size: 17px;
	align-items: center;
	width: 87px;
	margin-right: 10px;
	&:hover {
		text-decoration: none;
	}
}

.show-991 {
	display: none;
}
















.proj-card-gal-sl-it > img {
	width: 150px;
	height: 90px;
	background-color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 5%;
	margin-right: 7px;
}

.project {
	margin-top: 58px;
}

h1 {
	padding-left: 33px;
	margin-bottom: 33px;
	
	font-size: 36px;
	line-height: 1.2;
	font-weight: 700;
	color: #4b4f61;
}

.proj-w {
	margin-bottom: 87px;
}

.proj-card {
	display: flex;
}

.proj-card-l {
	flex: 0 0 auto;
	width: 880px;
}

.proj-card-img-w {
	width: 880px;
	height: 520px;
}

.proj-card-img {
	width: 100%;
	height: 100%;
}

.proj-card-gal {
	background-color: rgb(221, 221, 221);
	padding: 11px 23px;
	display: flex;
	align-items: center;
}

.proj-card-gal-sl {
	padding-left: 22px;
	display: flex;
}

.proj-card-gal-sl-it {
	width: 150px;
	height: 90px;
	background-color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 5%;
	margin-right: 7px;
}



.proj-card-gal-sl-it-img {
	width: 100%;
	height: 100%;
}



.proj-card-gal-arr {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 5px;
	height: 9px;
}

.proj-char {
	border: 1px solid rgb(223, 223, 223);
	padding: 41px 10px 36px;
	width: 100%;
}

.proj-char-w {
	width: 100%;
	justify-content: space-between;
	display: flex;
}

.proj-char-it {
	display: inline-flex;
}

.proj-char-img-w {
	margin-right: 10px;
}

.proj-char-img {
	width: 100%;
	height: 100%;
}

.proj-char-txt-w {
	display: flex;	
	justify-content: space-between;
	flex-direction: column;
}

.proj-char-txt-1 {
	font-size: 14px;
	color: rgb(153, 153, 153);	
}

.proj-char-txt-2 {	
	font-size: 18px;
	color: rgb(40, 40, 40);
	font-weight: 400;
	&._fs12 {
		font-size: 12px;
	}
}

.proj-card-r {
	flex: 1 1 auto;
	width: 280px;
	padding-left: 20px;
	display: flex;	
	flex-direction: column;
}



.sp-image-container {
	
	img.sp-image {
		object-fit: cover;
		width: 100% !important;
		height: 100% !important;
	}
}

.sp-slide {
	
}


.slider-pro {
	margin: unset;
}





.sp-thumbnails-w {

}

.sp-thumbnails-container {
	background-color: #dddddd;
	padding: 11px 50px;		
	overflow: hidden;	
	bottom: 0;	
	position: relative;
	width: 100% !important;
	&.before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 15;
		width: 40px;
		height: 100%;
		background-color: #ddd;
	}  
	&.after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 15;
		width: 40px;
		height: 100%;
		background-color: #ddd;
	} 
}


.sp-slide-video {
	
}

.sp-bottom-thumbnails .sp-thumbnail-container {
	margin-right: 7px;
}

.sp-thumbnail-container {
	overflow: hidden;	
	width: 150px !important;
	height: 90px !important;	
	background-color: #FFF $i;
	
	img.sp-thumbnail {
		opacity: 0.3;
	}
	&.sp-selected-thumbnail {
		border: 4px solid #86AD49;
		-webkit-border-radius: 5px;
		border-radius: 5px;		    
		img.sp-thumbnail {
			opacity: 1;
		}
	}
	img.sp-thumbnail {
		object-fit: cover;
		width: 100% !important;
		height: 100% !important;
	}
	&:hover,&:active,&:focus {
		cursor: pointer !important;
	}
}

.sp-thumbnail {
	&-vid {
		background: url("../img/proj_vid.png")  $nr center top 7px;
		height: 100%;
		width: 100%;
		span {

			font-size: 14px;
			text-decoration: underline;
			color: rgb(153, 153, 153);
			display: block;
			text-align: center;
			position: absolute;
			bottom: 12px;
			left: 0;
			width: 100%;
		}
	}
}


.sp-slides-container {
	overflow: hidden;
	border-radius: 8px;
}

.sp-slide {
	&:hover,&:active,&:focus {
		cursor: auto;
	}
}



.sp-full-screen-button {
	display: none;
}

.sp-grab {
	&:hover,&:active,&:focus {
		cursor: pointer !important;
	}
}

.sp-fade-arrows {
	opacity: 1;
	visibility: visible;
	.sp-arrow {		
		width: 50px;
		height: 50px;
		background-color: rgb(255, 255, 255);
		border: 1px solid rgb(221, 221, 221);
		opacity: 0.8;		
		border-radius: 5%;		
		background-image: url('../img/arr_r_object.png');
		background-repeat: no-repeat;
		background-position: center;
		transform: rotate(180deg);
		&.sp-previous-arrow {
			left: 0;	
		}		
		&.sp-next-arrow {
			transform: rotate(0deg);
			right: 0;
		}
		&:after,
		&:before {
			display: none;
		}

	}
}


.sp-thumbnail-arrow {
	width: 5px;
	width: 9px;
	background: url("../img/arr_r_object.png") $nr center;	
	display: block;
	z-index: 20;
	transform: rotate(180deg);
	opacity: 1 !important;
	visibility: visible !important;
	&.sp-previous-thumbnail-arrow {
		left: 23px;
	}
	&.sp-next-thumbnail-arrow {
		transform: rotate(0deg);
		right: 23px;
	}
	&:after,
	&:before {
		display: none;
	}
}





.projfav {
	height: 55px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(52, 59, 75);
	display: flex;
	align-items: center;    
	justify-content: space-between;
	margin-bottom: 20px;
	width: 100%;
	border-radius: 5px;
	cursor: pointer;
	input[type="checkbox"] {
		display: none;
		+ span {
			background-color: rgb(221, 221, 221);
			border-radius: 5px;
			background-image: url("../img/heart.png");
			background-repeat: no-repeat;
			background-position: center center;
			width: 54px;
			height: 53px;
			order: 3;    	
			flex: none;
		}
		&:checked {
			+ span {  
				background-image: url("../img/heart_red.png");				
			}
		}  		
	}
	div {
		text-align: center;
		font-size: 18px;
		letter-spacing: -0.025em;
		color: rgb(40, 40, 40);
		padding: 0 13px;			
		flex-grow: 1;
	}
}




.projgal {
	width: 100%;
	margin-bottom: 33px;
}

.projgal-slider {
	width: 100%;
	position: relative;
	height: 166px;
	margin-bottom: 12px;
	.slick-arrow {
		transform: rotate(180deg);
		width: 5px;
		width: 9px;
		background: url('../img/arr_r_object.png') no-repeat center;
		border: none;
		padding: 0;
		top: 75px;
	}
	.slick-prev {

	}
	.slick-next {
		transform: rotate(0deg);
	}
}

.projgal-dot-act {
	width: 54px;
	height: 4px;

	margin-right: 5px;
}



.slick-dots {
	width: 100%;
	display: flex;
	justify-content: center;
	li {
		border: none;
		background: none;
		padding: 0;
		height: auto;
		width: auto;
		font-size: 0;
		margin: 0 5px;
	}
	.presentation {
		border: none $i;
		outline: none $i;
	}    
	button {
		border: none $i;
		outline: none $i;
		width: 54px;
		height: 4px;
		background-color: rgb(236, 236, 234);    
		border-radius: 5px;
	}

	.slick-active {
		button {
			border: none $i;
			background-color: rgb(133, 173, 62);
		}      

		&:hover {
			border: none $i;
			outline: none $i; 
		}

		&:focus {
			border: none $i;
			outline: none $i;
		}
	}
}

.projgal-slide {
	position: relative;
	margin-bottom: 10px;
	height: 166px;
}

.projgal-img {
	width: 100%;
	height: 100%;
}

.projgal-arr {
	background-image: url("../img/arr_r_object.png");
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
	position: absolute;
	right: 5px;
	top: 90px;
	width: 5px;
	height: 9px;
}

.projgal-nav {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 12px;
}



.projgal-link {
	display: block;
	font-size: 14px;
	text-decoration: underline;
	color: rgb(133, 173, 62);
}

.projprice {
}

.projprice-old {
	font-size: 24px;
	color: rgb(153, 153, 153);
	margin-bottom: 5px;
	text-decoration: line-through;
}

.projprice-price {
	font-size: 30px;
	font-weight: 700;
	color: rgb(40, 40, 40);
	margin-bottom: 13px;
}

.projprice-cred {
	text-decoration: none;
	color: #282828;
	a {
		font-size: 18px;
		text-decoration: underline;
		color: rgb(133, 173, 62);
		display: inline-flex;
	}
	span {
		font-family: Montserrat;
		text-decoration: none;
		color: #282828;
	}
}



.tabs-control {
	display: flex;	
	flex-wrap: wrap;	
	li.tabs_control_item {
		width: 33.3333%;
		&:before {
			display: none;
		}
		&:not(:last-child) {
			a {
				border-right: none;
			}	
		}
		a {
			display: inline-flex;			
			justify-content: center;
			width: 100%;
			height: 95px;
			background-color: #ffffff;
			border: 1px solid #dddddd;			
			flex-direction: column;
			padding: 10px 37px;			        
			border-radius: 5px 5px 0px 0px;
			border-bottom: none;
			&:hover {
				text-decoration: none;
			}
		}
		&.active {
			a {
				background-color: #f8f7f7;
			}
		}
	}
}

li.tabs_content_item {
	display: none;
	&:before {
		display: none;
	}
	&.active {
		display: block;
	}
}



.accordion-header {
	height: 90px;
	background-color: rgb(248, 247, 247);
	border: 1px solid rgb(221, 221, 221);
	display: flex;
	align-items: center;
	padding-left: 37px;
	padding-right: 90px;
	cursor: pointer;
	position: relative;
	&:before {
		content: "";
		display: block;
		position: absolute;
		width: 50px;
		height: 50px;
		opacity: 0.8;
		background-color: #ffffff;
		border: 1px solid #dddddd;
		background-image: url("../img/arr_r_object.png");
		background-repeat: no-repeat;
		background-position: center;
		right: 20px;
		top: 50%;
		transform: translate(0, -50%) rotate(90deg);
		border-radius: 5px;						        
	}  
	&.active-header {
		&:before {
			transform: translate(0, -50%) rotate(-90deg);
		}
	}
	span {
		font-size: 24px;
		font-weight: 700;
		color: #282828;
		.green {
			color: #85ad3e;
		}
	}
} 

.accordion-item {
	&:not(:last-child) {
		.accordion-header {
			border-bottom: none;
			&.active-header {
				border-bottom: 1px solid rgb(221, 221, 221);
			}
		}
		.accordion-content {
			border-bottom: none;
		}
	}
}



.accordion-content {
	width: 100% !important;  
	
	display: none;
	border: 1px solid rgb(221, 221, 221);
	border-top: none;

	&._padding0 {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
	}


	&.open-content {
		display: block;
	}
	li {
		margin-bottom: 13px;
		font-size: 18px;
		line-height: 1.2;
		color: rgb(40, 40, 40);
		position: relative;
		padding-left: 16px;
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 7px;
			left: 0;
			width: 5px;
			height: 5px;
			background-color: #85ad3e;
		}  
	}
	ul._no-dots {
		li {
			padding-left: 0;
			&:before {
				display: none;
			}
		}
	}



	.tabs_content_item {

		&:before {
			display: none;
		}
	}


}
.tabs-name {	
	font-size: 24px;
	line-height: 1.2;
	font-weight: 700;
	color: #282828;
	display: block;	
}
.tabs-price {
	font-size: 18px;
	line-height: 30px;
	color: #85ad3e;
	display: block;	
	span {
		font-family: Montserrat;
		font-size: 18px;
		color: #85ad3e;
	}
}














.projprice-txts {
	font-size: 10px;
	line-height: 1.2;
	margin-top: 9px;    
}

.projprice-txt-1 {
	color: rgb(153, 153, 153);
	line-height: 1.2;
}

.projprice-txt-2 {
	color: rgb(40, 40, 40);
	line-height: 1.2;
}

.proj-card-r-tech {
	margin-bottom: 20px;
}

.proj-tech-txt {
	font-size: 18px;
	line-height: 1.2;
	color: rgb(153, 153, 153);
	margin-bottom: 1px;
}

.proj-card-r-tech-btn-1 {
	height: 55px;
	background-color: rgb(243, 248, 238);
	border: 1px solid rgb(133, 173, 62);
	display: flex;
	font-size: 18px;
	font-weight: 700;
	color: rgb(40, 40, 40);
	align-items: center;
	justify-content: center;
	border-radius: 5%;
	margin-bottom: 3px;
}

.proj-card-r-tech-btn-2 {
	height: 55px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(223, 223, 223);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	color: rgb(40, 40, 40);
	border-radius: 5%;
	margin-bottom: 3px;
}

.proj-card-r-btn {
	height: 55px;
	background-color: rgb(133, 173, 62);
	box-shadow: rgba(133, 173, 62, 0.3) 0px 1px 32px 0px;
	border-radius: 5%;
	font-size: 14px;
	font-weight: 700;
	color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	justify-content: center;
}


.proj-card-r-bot {
	margin-top: auto;
}







h3 {
	font-size: 30px;
	font-weight: 700;
	color: #4b4f61;
	margin-bottom: 15px;
}

.desc-pr {
	margin-bottom: 72px;
}


.desc-pr-w {
	padding-left: 32px;  
	font-size: 18px;  
	color: rgb(40, 40, 40);
	p {  
		margin-top: 23px;
		line-height: 2;
	}
}

.prep-h3-w {
	padding: 0 32px;	
}

.tabs-item-1 {
	margin-top: 45px;
}





.accordion-content-l {	
	flex-grow: 1;
	padding-right: 15px;
}

.accordion-content-r {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 480px;
	flex: none;
	img {		
		max-width: 100%;
		height: auto;
	}
}

.accordion-content-r-img-w {
	width: 100%;
	height: 100%;
}


.fs14 {
	font-size: 14px;
	line-height: 1.2;
}


@media (min-width : 1200px) {
	._pr107 {
		padding-right: 107px;
	}
}







.accordion-content-found {
}

.accordion-content-btn-w {
	display: flex;
	margin-bottom: 54px;
}


.accordion-content-btn {
	width: 278px;
	height: 48px;
	opacity: 0.8;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(221, 221, 221);
	font-size: 18px;
	font-weight: 700;
	color: rgb(40, 40, 40);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5%;
	margin-right: 20px;
	&.active {		
		background-color: rgb(213, 225, 191);
		border: 1px solid rgb(221, 221, 221);		
		color: rgb(40, 40, 40);		
	}
	&:hover {
		background-color: rgb(213, 225, 191);
		border: 1px solid rgb(221, 221, 221);		
		color: rgb(40, 40, 40);			
	}
}



h5 {
	font-size: 18px;
	font-weight: 700;
	color: rgb(40, 40, 40);
	margin-bottom: 20px;
}


.accordion-content-prep-ul {
	li {
		font-size: 14px;
		line-height: 1.2;
		&:before {
			top: 5px;
		}
	}
}



.accordion-content-w {
	padding: 17px 38px 20px;
	padding-top: 24px;
	padding-bottom: 20px;
	&._p38 {
		padding: 0 38px;
	}	
	&:not(:last-child) {
		border-bottom: 1px solid #ddd;
	}
}

.accordion-content-row {
	display: flex;
}


.accordion-container-1 {
	margin-bottom: 40px;
}
.accordion-container-2 {
	margin-top: 44px;
}

.built2 {
	margin-top: 42px;
	margin-top: 0;
}

.const-txt-11 {
	font-size: 24px;
	line-height: 1.2;
	font-weight: 700;
	color: #282828;
	margin-bottom: 25px;
}

.const2 {
	padding-bottom: 77px;
}


.viewprods {
	background-color: #eeeeee;	
	padding: 71px 0 83px;
}

.viewprods-row,
.similarprods-row {
	margin-top: 42px;
}

.found-image {
	position: relative;
}

.found-image-quest {
	position: absolute;	
	cursor: pointer;
	&:hover {
		.found-image-quest-txt {
		display: block;
	}	
	}
}


.found-image-quest-quest {
	width: 20px;
	height: 20px;
	background-color: #85ad3e;
	border: 1px solid #282828;
	display: inline-flex;
	font-size: 15px;
	font-weight: 700;
	color: #FFF;
	align-items: center;
	justify-content: center;        
	border-radius: 50%;
	z-index: 5;
	position: relative;
	
}

.found-image-quest-1 {
	top: 96px;
	left: 50px;
}
.found-image-quest-2 {
	top: -2px;
	left: 250px;
}
.found-image-quest-3 {
	bottom: 68px;
	left: 230px;
}
.found-image-quest-4 {
	bottom: 35px;
	left: 313px;
}

.found-image-quest-inn {
	position: relative;
	z-index: 0;
}
.found-image-quest-txt {
	z-index: 0;
	position: absolute;
	font-size: 14px;
	color: #282828;
	line-height: 1.2;
	font-weight: 400;
	width: 280px;
	height: auto;
	padding: 13px 22px;
	background-color: #ffffff;
	border: 1px solid #dfdfdf;
	right: 10px;
	bottom: 10px;
	display: none;
	p {
		margin-bottom: 10px;
	}
}

@import "_media.scss";
@import "_hides.scss";
@import "_after-styless";